* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

nav {
    /* background-color: red; */
    /* border: 10px solid re; */
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    position: sticky;
    top: 0px;
    z-index: 1001;
    padding: 20px;
    background-color: black;
}

.name {
    color: white;
    font-size: 2rem;
    margin: 40px;
}

.links {
    list-style-type: none;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: ; */
    font-size: 1.4rem;
    gap: 45px;
    margin-left: auto;
}

.a {
    position: relative;
    display: inline-block;
    border: 0px solid red;
    text-decoration: none;
    color: white;
    transition: all 1s linear 0s;
}

.a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%);
    width: 0px;
    height: 2px;
    background-color: #FFBD39;
    transition: width 0.4s linear 0s;
}

.a:hover {
    color: #F4B537;
}

.a:hover::after {
    width: 120%;
}

.menu {
    position: absolute;
    top: 25px;
    right: 50px;
    font-size: 1.4rem;
    display: none;
}


.links2 {
    display: none;
    z-index: 1000;
}

.close {
    display: none;
}

.container {
    border: 0px solid red;
    height: 650px;
    position: relative;
}

.home {
    position: relative;
    top: 200px;
    left: 50px;
    width: 507px;
    height: 362px;
    border: 0px solid red;
    /* overflow: hidden; */
}

.home1 {
    display: inline-block;
    color: #FFBD39;
    border: 0px solid green;
    /* transform: translate(20px, 20px); */
    margin: 20px;
    font-size: 1.6rem;
    /* font-style:; */
}

.home2 {
    /* width: 100%; */
    height: 144px;
    border: 0px solid green;
    font-size: 4.1rem;
    padding-left: 20px;
    /* padding: 0px; */
}

.home3 {
    /* width: 100%; */
    height: 45px;
    border: 0px solid green;
    margin-top: 20px;
    font-size: 2.5rem;
    padding-left: 20px;
    padding: 0px;
    padding-left: 20px;
}

.home4 {
    width: 100%;
    height: 100%;
    border: 0px solid green;
    margin-top: 20px;
}

.white {
    color: #FFFFFF;
}

.orange {
    color: #FFBD39;
}

.btn {
    /* margin-left: 20px; */
    /* transform: translateY(50%); */
    padding: 8px 40px;
    border-radius: 40px;
    font-size: 1.3rem;
    /* width: 100px;
    height: 30px; */
    background-color: #F4B537;
    border: 5px solid #F4B537;
}

.image {
    /* width: 100%; */
    width: 500px;
    height: 450px;
    position: absolute;
    right: 100px;
    /* bottom: 0; */
    top: 170px;
}

.aboutme {
    /* width: 500px; */
    /* height: 700px; */
    border: 0px solid red;
    display: flex;
    gap: 60px;
}

.aboutme1 {
    max-width:445px;
    /* height: 589px; */
    border: 0px solid green;

}

.img {
    width: 100%;
    height: 100%;
}

.aboutme2 {
    max-width: 609px;
    width: 100%;
    /* height: 589px; */
    border: 0px solid green;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.info1 {
    /* height: 75px; */
    border: 0px solid blue;
    color: white;
    font-size: 4rem;
    padding-left: 6px;
    position: relative;
}

.info-title{
    position: absolute;
    top: 40%;
    left: 0%;
    font-size: 5rem;
    display: inline-block;
    /* transform: translate(-10%, -80%); */
    /* z-index: -2; */
    opacity: 0.1;
    border: 0px solid red;

}

.info2 {
    /* height: 58px; */
    border: 0px solid blue;
    color: #838383;
    text-align: justify;
}

.info3 {
    /* height: 233px; */
    border: 0px solid blue;
    /* font-size: 1.5rem; */
    /* text-align: justify; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.info3 div {
    display: flex;
}

.info3 span:first-child {
    min-width: 140px;
    font-weight: bold;
}

.info4 {
    /* height: 127px; */
    border: 0px solid blue;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.resume{
    max-width: 1440px;
    width: 100%;
    border: 0px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 60px;
}

.resume1{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    border: 0px solid red;
}

.row1{
    max-width: 350px;
    width: 100%;
    color: white;
    font-size: 4rem;
    text-align: center;
    border: 0px solid red;
    position: relative;
}

.row-title{
    position: absolute;
    top: 10%;
    left: 12%;
    font-size: 5rem;
    display: inline-block;
    /* transform: translate(-10%, -80%); */
    /* z-index: -2; */
    opacity: 0.1;
    border: 0px solid red;

}

.row2{
    max-width: 1100px;
    width: 100%;
    font-size: 1.2rem;
    color: #838383;
    text-align: center;
}

.projects{
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

.projects-title{
    position: relative;
    max-width: 350px;
    width: 100%;
    text-align: center;
    /* height: 100px; */
    border: 0px solid red;
    /* z-index: 1; */
}

.title{
    position: absolute;
    top: 0%;
    left: 10%;
    font-size: 6rem;
    display: inline-block;
    /* transform: translate(-10%, -80%); */
    /* z-index: -2; */
    opacity: 0.1;
    border: 0px solid red;


}

.grid-container{
    max-width: 900px;
    width: 100%;
    border: 0px solid red;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    row-gap: 15px;
    column-gap: 15px;
}

.projects-primary{
    grid-column: 1/3;
    position: relative;
}

.projects-secondary{
    width: 100%;
    position: relative;
}

.projects3{
    width: 100%;
    position: relative;
}

.project-image1{
    width: 100%;
    height: 100%;
}

/* .project-image3{
    width: 100%;
}

.project-image3{
    width: 100%;
} */

.project-text-primary-container{
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    /* background: #F4B537; */
    background: rgba(0,0,0,0.3);
    z-index: 2;
    opacity: 0;
}

.project-text-primary{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 18%;
    text-decoration: none;
    color: #F4B537;
    font-size: 3rem;
}

.projects-primary:hover .project-text-primary-container{
    transition: all 0.3s linear 0s;
    opacity: 1;
}

.project-text-secondary-container{
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    /* background: #F4B537; */
    background: rgba(0,0,0,0.3);
    z-index: 2;
    opacity: 0;
}

.project-text-secondary{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 20%;
    text-decoration: none;
    color: #F4B537;
    font-size: 2rem;
}

.projects-secondary:hover .project-text-secondary-container{
    transition: all 0.3s linear 0s;
    opacity: 1;
}

.project-text-container3{
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    /* background: #F4B537; */
    background: rgba(0,0,0,0.3);
    z-index: 2;
    opacity: 0;
}

.project-text{
    text-align: center;
    position: absolute;
    top: 40%;
    right: 20%;
    text-decoration: none;
    color: #F4B537;
    font-size: 2rem;
}

.projects3:hover .project-text-container3{
    transition: all 0.3s linear 0s;
    opacity: 1;
}

.skills{
    max-width: 1200px;
    width: 100%;
    padding: 50px;
}

.skills-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.skills-primary{
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: white; */
}

.skills-secondary{
    max-width: 550px;
    width: 100%;
    /* background-color: white; */
}

.java{
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.java-top{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.border{
    max-width: 540px;
    width: 100%;
    border: 1px solid #1A1A1A;
    background-color: #1A1A1A;
    /* height: 2px; */
    border-radius: 5px;
    overflow: hidden;
}

.percentage{
    width: 75%;
    height: 10px;
    background-color: #F4B537;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.details{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.nested-details{
    display: flex;
    flex-direction: column;
    gap: 13px;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.circle{
    width: 100px;
    height: 100px;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.contact-form{
    max-width: 1050px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.my-image{
    max-width: 500px;
    width: 100%;
    background-color: #1E1E1E;
}

.form{
    max-width: 550px;
    width: 100%;
    background-color: #F8F9FA;
    padding: 70px 20px;
}

.form-primary{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 10px;
    width: 450px;
    /* width: 100%; */
    /* justify-content: center; */
    /* align-items: center; */
}

.footer{
    /* margin-top: 20px; */
    max-width: 1440px;
    width: 100%;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.profile{
    display: flex;
    gap: 30px;
}

.a-secondary{
    /* position: relative; */
    display: inline-block;
    /* border: 0px solid red; */
    text-decoration: none;
    color: white;
    /* transition: all 1s linear 0s; */
}


@media screen and (max-width: 326px) {
    .menu {
        display: block;
        font-size: 0.9rem;
        top: 30px;
        right: 10px;
    }

    .links {
        display: none;
    }

    .drop {
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: black;
        top: 30px;
        right: 10px;
        overflow: hidden;
        transition: all 0.5s linear 0s;
        display: flex;
        flex-direction: column;
        align-items: end;
        z-index: 999;
    }

    #dropdown:target .links2 {
        list-style-type: none;
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        gap: 25px;
        /* margin: 20px; */
        align-items: end;
    }

    #dropdown:target>.close {
        display: block;
        font-size: 0.9rem;
    }

    #dropdown:target {
        height: 250px;
    }

    .name {
        padding: 0px;
        margin: 0px;
        font-size: 1.6rem;
    }

    .container {
        height: 500px;
        /* border: 10px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home {
        width: 100%;
        height: 100%;
        /* border: 10px solid red; */
        top: 0px;
        left: 10px;
    }

    .home1 {
        font-size: 1.5rem;
        /* font-style:; */
    }

    .home2 {
        font-size: 3rem;
    }

    .home3 {
        font-size: 1.6rem;
    }


    .home4 {
        width: 100%;
        height: 51px;
        border: 0px solid green;
        margin-top: 30px;
    }

    .btn {
        font-size: 1.2rem;
    }


    .image {
        top: 0px;
        left: 0px;
        z-index: 0;
        width: 100%;
        height: 350px;
    }

    .home {
        z-index: 1;
    }

    .aboutme {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 20px;
    }

    .info3 span:first-child {
        min-width: 110px;
    }


    .aboutme2 {
        /* max-width: 320px; */
        width: 100%;
    }

    .aboutme1 {
        display: none;
    }

    .info1{
        font-size: 3.5rem;
    }

    .info-title{
        font-size: 3rem;
        top: -40%;
        left: 10%;
    }

    .info3 div {
        flex-direction: column;
        gap: 4px;
    }

    .info3 span:first-child{
        min-width: auto;
    }

    .resume{
        padding: 20px;
    }

    .row1{
        font-size: 3.5rem;
    }

    .row-title{
        font-size: 3rem;
        top: -40%;
        left: 10%;
    }

    .projects-title{
        font-size: 3.5rem;
    }

    .title{
        font-size: 3rem;
        top: -30%;
        left: 10%;
    }

    .grid-container{
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }

    .projects-primary{
        grid-column: auto;
    }

    .project-text-primary{
        /* right: ; */
        font-size: 1rem;
    }

    .project-text-secondary{
        left: 27%;
        font-size: 1rem;
    }

    .project-text{
        left: 12%;
        font-size: 1rem;
    }

    .skills-container{
        flex-direction: column;
    }

    .skills-primary{
        flex-direction: column;
    }

    .details{
        flex-direction: column;
    }

    .contact-form{
        margin-left: 10px;
        flex-direction: column;
        align-items: center;
    }

    .form-primary{
        width: 290px;
    }

}

@media (min-width: 327px) and (max-width: 499px) {
    .menu {
        display: block;
        font-size: 0.9rem;
        top: 30px;
        right: 10px;
    }

    .links {
        display: none;
    }

    .drop {
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: black;
        top: 30px;
        right: 10px;
        overflow: hidden;
        transition: all 0.5s linear 0s;
        display: flex;
        flex-direction: column;
        align-items: end;
        z-index: 999;
    }

    #dropdown:target .links2 {
        list-style-type: none;
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        gap: 25px;
        /* margin: 20px; */
        align-items: end;
    }

    #dropdown:target>.close {
        display: block;
        font-size: 0.9rem;
    }

    #dropdown:target {
        height: 250px;
    }

    .name {
        padding: 0px;
        margin: 0px;
        font-size: 1.6rem;
    }

    .container {
        height: 500px;
        /* border: 10px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home {
        width: 100%;
        height: 100%;
        /* border: 10px solid red; */
        top: 0px;
        left: 10px;
    }

    .home1 {
        font-size: 1.5rem;
        /* font-style:; */
    }

    .home2 {
        font-size: 3rem;
    }

    .home3 {
        font-size: 2rem;
    }

    .home4 {
        width: 100%;
        height: 51px;
        border: 0px solid green;
        margin-top: 20px;
    }

    .btn {
        font-size: 1.2rem;
    }


    .image {
        top: 0px;
        left: 0px;
        z-index: 0;
        width: 100%;
        height: 350px;
    }

    .home {
        z-index: 1;
    }

    .aboutme1 {
        display: none;
    }

    .aboutme {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 20px;
    }

    .info3 span:first-child {
        min-width: 110px;
    }


    .aboutme2 {
        /* max-width: 320px; */
        width: 100%;
    }

    .aboutme1 {
        display: none;
    }

    .info1{
        font-size: 3.5rem;
    }

    .info-title{
        font-size: 3rem;
        top: -40%;
        left: 10%;
    }

    .info3 div {
        flex-direction: column;
        gap: 4px;
    }

    .info3 span:first-child{
        min-width: auto;
    }

    .resume{
        padding: 20px;
    }

    .row1{
        font-size: 3.5rem;
    }

    .row-title{
        font-size: 3rem;
        top: -40%;
        left: 10%;
    }

    .projects-title{
        font-size: 3.5rem;
    }

    .title{
        font-size: 3rem;
        top: -30%;
        left: 10%;
    }

    .grid-container{
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }

    .projects-primary{
        grid-column: auto;
    }

    .project-text-primary{
        /* right: ; */
        font-size: 1rem;
    }

    .project-text-secondary{
        left: 30%;
        font-size: 1rem;
    }

    .project-text{
        left: 12%;
        font-size: 1rem;
    }

    .skills-container{
        flex-direction: column;
    }

    .skills-primary{
        flex-direction: column;
    }

    .details{
        flex-direction: column;
    }

    .contact-form{
        margin-left: 10px;
        flex-direction: column;
        align-items: center;
    }

    .form-primary{
        width: 290px;
    }

}

@media (min-width: 500px) and (max-width: 870px) {
    .menu {
        display: block;
    }

    .links {
        display: none;
    }

    .drop {
        position: absolute;
        width: 200px;
        height: 2px;
        background-color: black;
        top: 25px;
        right: 50px;
        overflow: hidden;
        transition: all 0.5s linear 0s;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    #dropdown:target .links2 {
        list-style-type: none;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin: 20px;
        align-items: end;
    }

    #dropdown:target>.close {
        display: block;
        z-index: 10;
    }

    #dropdown:target {
        height: 500px;
    }

    .container {
        /* border: 10px solid red; */
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .image {
        top: 150px;
        left: 90px;
        z-index: 0;
        height: 400px;
    }

    .home {
        z-index: 1;
    }

    .project-text-primary{
        /* right: ; */
        left: 18%;
    }

    .project-text-secondary{
        left: 10%;
    }

    .details{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
    }

    .form-primary{
        width: 390px;
    }
}

@media (min-width: 890px) and (max-width: 1100px) {
    nav {
        padding-top: 40px;
    }

    .name {
        font-size: 2rem;
    }

    .links {
        font-size: 1.4rem;
    }

    .image {
        width: 400px;
        height: 400px;
        right: 40px;
    }

    .resume{
        padding: 30px;
    }
}

@media (min-width: 1500px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        padding-top: 40px;
        width: 1024px;
    }

    .name {
        font-size: 2rem;
    }

    .links {
        font-size: 1.4rem;
    }

    .container {
        width: 1024px;
    }

    .image {
        width: 400px;
        height: 400px;
        right: 40px;
    }

    .resume{
        padding: 30px;
    }
}